/* * {
  outline: 1px solid red;
} */

:root {
  --clr-accent: #a52a2a;
  --clr-light: #f5deb3;
  --ff-primary: 'Abel', sans-serif;
  --scrn-max-width: 700px;
}

::selection {
  color: var(--clr-light);
  background: var(--clr-accent);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-inline: 1em;
  font-family: var(--ff-primary);
  font-size: min(1.5rem, 5vw);
}

section {
  max-width: 1050px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: var(--clr-accent);
}

a:visited {
  color: var(--clr-accent);
}

img {
  display: block;
  width: 1px;
}

.title {
  text-align: center;
}

.about-me__container {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 700px) {
  .about-me__container {
    flex-flow: column-reverse nowrap;
  }
}

.about-me__img {
  margin-right: 1em;
  border-radius: 50%;
  flex: 1 1 35%;
  max-width: 20rem;
}

@media only screen and (max-width: 700px) {
  .about-me__img {
    align-self: center;
    width: 50%;
    margin: 1em 0 0 0;
  }
}

.about-me__info {
  border-left: 1px solid lightgray;
  padding-left: 1em;
  flex: 1 1 65%;
}

@media only screen and (max-width: 700px) {
  .about-me__info {
    border: none;
    padding: 0;
  }
}

.about-me__info p {
  margin-top: 0;
}

.about-me__info ul {
  margin-bottom: 0;
}