:root {
  --cube-size: 30vw;
  --cube-half-size: calc(var(--cube-size)/2);
  --ff-size: calc(0.9*var(--cube-size));
  --cube-face-color: linear-gradient(rgba(212, 0, 0, 0.1), rgba(56, 0, 238));
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 99%;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
  width: 50vw;
  border: 1px solid red;
  perspective: 50vw;
}

.cube {
  /* border: 1px solid red; */
  width: var(--cube-size);
  height: var(--cube-size);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  /* transform: rotateX(90deg); */
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--ff-size);
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  /* opacity: 0.7; */
}

.backface-hidden {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cube__face {
  position: absolute;
  background: var(--cube-face-color);
}

.transition-transform {
  transition: transform 0.3s ease;
}

.cube__face-front {
  background: var(--cube-face-color);
  transform: translateZ(var(--cube-half-size));
}

.cube__face-back {
  background: var(--cube-face-color);
  transform: rotateY(180deg) translateZ(var(--cube-half-size));
}

.cube__face-right {
  transform: rotateY(90deg) translateZ(var(--cube-half-size));
}

.cube__face-left {
  transform: rotateY(-90deg) translateZ(var(--cube-half-size));
}

.cube__face-top {
  transform: rotateX(90deg) translateZ(var(--cube-half-size));
}

.cube__face-bottom {
  transform: rotateX(-90deg) translateZ(var(--cube-half-size));
}

.mouse-position-container {
  position: absolute;
  top: -1.5em;
  left: 5px;
}
