html {
    height: 100%;
}

body {
    height: 100%;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano-keyboard {
    display: flex;
    justify-content: center;
}

.white-keys {
    display: flex;
    height: 202px;
}

.white-keys div {
    border: 1px solid black;
    background-color: wheat;
    text-align: center;
    height: 200px;
    line-height: 368px;
    width: 50px;
    font-family: "Arial Black";
}

.black-keys {
    position: absolute;
    height: 102px;
    font-size: 0;
}

.black-keys div {
    display: inline-block;
    margin-right: 20px;
    border: 1px solid wheat;
    background-color: black;
    color: wheat;
    text-align: center;
    height: 125px;
    line-height: 218px;
    width: 30px;
    font-family: "Arial Black";
    font-size: 16px;
}

.black-keys div:nth-child(2) {
    margin-right: 72px;
}

.black-keys div:last-child {
    margin-right: 0px;
}